# Environment
.env

# Virtual environment
.venv12/

# Python site‑packages (installed libraries)
Lib/site-packages/

# Scripts folder (executable wrappers)
Scripts/

# Python executable used for the project
python312.exe
